.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url("../../../images/kaufman-triangle.svg");
  background-size: 100% 100%;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: 1;
  animation: rotation 20s linear infinite;
}